<style>
  .btn_chat {
    display: block;
    margin: 4px auto;
    background: #47749d;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.6em;
  }
</style>
<div
  class="chat-conversion-box"
  id="chat-box-modal"
  tabindex="-1"
  aria-labelledby="chat-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="chat-modal-label">
          Fahim Rahman <span class="online"></span>
        </h6>
        <div class="action-icon">
          <button class="chat-shrink"><i class="icofont-minus"></i></button>
          <button
            type="button"
            class="close chat-close chat-open"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-header">
        <a class="btn_chat" href="https://meet.jit.si/wipit_test" target="_blank">
          Ingresar a la sala de pair programming
        </a>
      </div>
      <div class="modal-body">
        <ul class="chat-conversion">
          <li class="chat-others">
            <div class="author-img">
              <img src="/img/chat_12.jpg" alt="Chat" />
            </div>
            <div class="author-text">
              <span
                >How are you Fahim vai ? Tommorow office will be your last day of Bachelor
                life.</span
              >
            </div>
          </li>
          <li class="chat-you">
            <div class="author-img">
              <img src="/img/chat_11.jpg" alt="Chat" />
            </div>
            <div class="author-text">
              <span>hmm That's great</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Write your text here....."
            />
            <div class="chat-plus-icon"><i class="icofont-plus-circle"></i></div>
            <div class="file-attach-icon">
              <a href="#"><i class="icofont-slightly-smile"></i></a>
              <a href="#"><i class="icofont-camera"></i></a>
              <a href="#"><i class="icofont-image"></i></a>
              <a href="#"><i class="icofont-mic"></i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
