<header class="fixed-header">
  <div class="header-menu">
    <div class="navbar">
      <div class="nav-item d-none d-sm-block">
        <div class="header-logo">
          <a href="/"
            ><img style="max-width: 120px" src="/img/logo_blanco.png" alt="Wipit"
          /></a>
        </div>
      </div>
      <div class="nav-item nav-top-menu">
        <nav id="dropdown" class="template-main-menu">
          <ul class="menu-content">
            <li class="header-nav-item">
              <a href="/" class="menu-link active">¿Qué es Wipit?</a>
            </li>
            <li class="header-nav-item">
              <a href="/backlog" class="menu-link active">Backlog</a>
            </li>
            <li class="header-nav-item">
              <a href="/my/board" class="menu-link active">Mis tareas</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="nav-item header-control">
        <div class="inline-item d-flex align-items-center">
          <div class="dropdown dropdown-notification">
            <button
              class="dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="icofont-notification"></i><span class="notify-count">3</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="item-heading">
                <h6 class="heading-title">Notificaciones</h6>
              </div>
              <div class="item-body">
                <a href="#" class="media">
                  <div class="item-img">
                    <img src="/img/notifiy_1.png" alt="Notify" />
                  </div>
                  <div class="media-body">
                    <h6 class="item-title">Diana Jameson</h6>
                    <div class="item-time">10 minutes ago</div>
                    <p>Sent you a message in task <strong>Node with multer</strong></p>
                  </div>
                </a>
                <a href="#" class="media">
                  <div class="item-img">
                    <img src="/img/notifiy_2.png" alt="Notify" />
                  </div>
                  <div class="media-body">
                    <h6 class="item-title">Quirty</h6>
                    <div class="item-time">15 mins ago</div>
                    <p>Started pair programming. Don't be late!</p>
                  </div>
                </a>
                <a href="#" class="media">
                  <div class="item-img">
                    <img src="/img/notifiy_3.png" alt="Notify" />
                  </div>
                  <div class="media-body">
                    <h6 class="item-title">WipiTIP!</h6>
                    <div class="item-time">15 mins ago</div>
                    <p>when are nknowen printer took galley of types ...</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="inline-item">
          <div class="dropdown dropdown-admin">
            <button
              class="dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="media">
                <span class="item-img">
                  <img src="/img/chat_5.jpg" alt="Chat" />
                </span>
                <span class="media-body">
                  <span class="item-title">Rebeca</span>
                </span>
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <ul class="admin-options">
                <li><a href="/logout">Cerrar sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
