<div class="block-box post-input-tab">
  <form action="/backlog" method="GET">
    <ul class="nav nav-tabs" role="tablist">
      <li
        class="nav-item"
        role="presentation"
        data-toggle="tooltip"
        data-placement="top"
        title="Post"
      >
        <a
          class="nav-link"
          data-toggle="tab"
          href="#post-status"
          role="tab"
          aria-selected="true"
          ><i class="icofont-copy"></i>Publica tu tarea</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show" id="post-status" role="tabpanel">
        <input type="text" class="form-control" placeholder="¿Cuál es la tarea . . . ?" />
        <textarea
          name="status-input"
          id="status-input1"
          class="form-control textarea"
          placeholder="Describe más detalles de la tarea . . ."
          cols="30"
          rows="6"
        ></textarea>
        <div class="drop-menu">
          <select style="display: none"></select>
          <select class="select2" required>
            <option value="">--Selecciona un objetivo--</option>
            <option value="1">Status</option>
            <option value="1">Quotes</option>
            <option value="1">Photos</option>
            <option value="1">Videos</option>
            <option value="1">Audios</option>
            <option value="1">slideshows</option>
            <option value="1">files</option>
            <option value="1">Updates</option>
            <option value="1">New Members</option>
            <option value="1">Posts</option>
            <option value="1">New Groups</option>
          </select>
          <select class="select2" required>
            <option value="">--Selecciona un área--</option>
            <option value="1">Status</option>
            <option value="1">Quotes</option>
            <option value="1">Photos</option>
            <option value="1">Videos</option>
            <option value="1">Audios</option>
            <option value="1">slideshows</option>
            <option value="1">files</option>
            <option value="1">Updates</option>
            <option value="1">New Members</option>
            <option value="1">Posts</option>
            <option value="1">New Groups</option>
          </select>
          <select class="select2" required>
            <option value="">--Selecciona un lenguaje--</option>
            <option value="1">Status</option>
            <option value="1">Quotes</option>
            <option value="1">Photos</option>
            <option value="1">Videos</option>
            <option value="1">Audios</option>
            <option value="1">slideshows</option>
            <option value="1">files</option>
            <option value="1">Updates</option>
            <option value="1">New Members</option>
            <option value="1">Posts</option>
            <option value="1">New Groups</option>
          </select>
          <select class="select2" required>
            <option value="">--Estima el tiempo--</option>
            <option value="1">Status</option>
            <option value="1">Quotes</option>
            <option value="1">Photos</option>
            <option value="1">Videos</option>
            <option value="1">Audios</option>
            <option value="1">slideshows</option>
            <option value="1">files</option>
            <option value="1">Updates</option>
            <option value="1">New Members</option>
            <option value="1">Posts</option>
            <option value="1">New Groups</option>
          </select>
          <select class="select2" required>
            <option value="">--Estima la dificultad--</option>
            <option value="1">Status</option>
            <option value="1">Quotes</option>
            <option value="1">Photos</option>
            <option value="1">Videos</option>
            <option value="1">Audios</option>
            <option value="1">slideshows</option>
            <option value="1">files</option>
            <option value="1">Updates</option>
            <option value="1">New Members</option>
            <option value="1">Posts</option>
            <option value="1">New Groups</option>
          </select>
        </div>
        <div class="post-footer">
          <div class="submit-btn">
            <button type="submit">Guardar en el backlog</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
