<div class="fixed-sidebar right">
  <div class="fixed-sidebar-right small-sidebar">
    <div class="sidebar-toggle" id="chat-head-toggle">
      <button class="chat-icon">
        <i class="icofont-speech-comments"></i>
      </button>
    </div>
    <div class="sidebar-menu-wrap">
      <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
        <ul class="user-chat-list">
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_1.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_2.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_3.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_4.jpg" alt="chat" />
              <span class="chat-status online"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_5.jpg" alt="chat" />
              <span class="chat-status online"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_6.jpg" alt="chat" />
              <span class="chat-status online"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_7.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_8.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_9.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
          <li class="chat-item chat-open">
            <div class="author-img">
              <img src="/img/chat_10.jpg" alt="chat" />
              <span class="chat-status offline"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
