<style>
  .icofont-navigation-menu {
    font-size: 2em;
    color: white;
  }
</style>
<div class="fixed-sidebar">
  <div class="fixed-sidebar-left small-sidebar">
    <div class="sidebar-toggle">
      <button class="toggle-btn toggler-open">
        <i class="icofont-navigation-menu"></i>
      </button>
    </div>
    <div class="sidebar-menu-wrap">
      <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
        <ul class="side-menu">
          <li>
            <a
              href="/my/board"
              class="menu-link"
              data-toggle="tooltip"
              data-placement="right"
              title=" MIS TAREAS"
              ><i class="icofont-tasks"></i
            ></a>
          </li>
          <li>
            <a
              href="/backlog"
              class="menu-link"
              data-toggle="tooltip"
              data-placement="right"
              title=" BACKLOG"
              ><i class="icofont-listing-box"></i
            ></a>
          </li>
          <li>
            <a
              href="/faqs"
              class="menu-link"
              data-toggle="tooltip"
              data-placement="right"
              title=" PREGUNTAS FRECUENTES"
              ><i class="icofont-question-circle"></i
            ></a>
          </li>
          <li>
            <a
              href="/feedback"
              class="menu-link"
              data-toggle="tooltip"
              data-placement="right"
              title=" FEEDBACK"
              ><i class="icofont-support-faq"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="fixed-sidebar-left large-sidebar">
    <div class="sidebar-toggle">
      <div class="sidebar-logo">
        <a href="/"
          ><img style="max-width: 120px" src="/img/logo_blanco.png" alt="Logo"
        /></a>
      </div>
      <button class="toggle-btn toggler-close">
        <i class="icofont-navigation-menu"></i>
      </button>
    </div>
    <div class="sidebar-menu-wrap">
      <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
        <ul class="side-menu">
          <li>
            <a href="/my/board" class="menu-link"
              ><i class="icofont-tasks"></i><span class="menu-title">MIS TAREAS</span></a
            >
          </li>
          <li>
            <a href="/backlog" class="menu-link"
              ><i class="icofont-listing-box"></i
              ><span class="menu-title">BACKLOG</span></a
            >
          </li>
          <li>
            <a href="/faqs" class="menu-link"
              ><i class="icofont-question-circle"></i
              ><span class="menu-title">PREGUNTAS FRECUENTES</span></a
            >
          </li>
          <li>
            <a href="/feedback" class="menu-link"
              ><i class="icofont-support-faq"></i
              ><span class="menu-title">FEEDBACK</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
